<!-- src/app/greenhouses/create/create.component.html -->
<link rel="stylesheet" href="create.component.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">


<head>
    <meta charset="utf-8">
    <title>Dbproject</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <app-root></app-root>
    <header>
        <h1>List of Plants</h1>
    </header>

    <nav>
        <ul>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/greenhouses">
                    Greenhouses</a></li>
            <li><a routerLink="/ecosystems">Ecosystems</a></li>
            <li><a routerLink="/plants">Plants</a></li>
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/joins">Joins</a></li>
            <li><a href=" #contact" onclick="toggleSection('contact')">Contact</a></li>
        </ul>
    </nav>

    <section id="greenhouses" style="display: none;">
        <h2>Our Greenhouses</h2>
        <p>Step into our enchanting greenhouses and witness a stunning array of plant life. Each greenhouse is a unique
            journey into the heart of nature.</p>
        <iframe width="600" height="400" src="https://www.youtube.com/watch?v=IUN664s7N-c" frameborder="0"
            allowfullscreen></iframe>
    </section>


    <footer>
        <p>&copy; 2024 Greenhouse Delights. All rights reserved.</p>
    </footer>

    <h2></h2>
    <section id="create">
        <div class="subsection1">

        </div>

        <div class="centered p-4">

            <h2>Add New Plant</h2>
            <form [formGroup]="plantForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading; else loading">
                <div class="m-3">
                    <label for="datePlanted">Date Planted:</label>
                    <input type="date" id="datePlanted" formControlName="datePlanted">
                    <!-- Add validation messages as needed -->
                </div>
                <div class="m-3">
                    <label for="height">Height:</label>
                    <input type="number" id="height" formControlName="height">
                    <!-- Add validation messages as needed -->
                </div>
                <div class="m-3" s>
                    <label for="greenhouseId">Greenhouse:</label>
                    <select id="greenhouseId" formControlName="greenhouseId">
                        <option *ngFor="let greenhouse of greenhouses" [value]="greenhouse._id">{{ greenhouse.name }}
                        </option>
                    </select>
                </div>
                <button class="m-3" type="submit" [disabled]="!plantForm.valid">Create Plant</button>
                <button routerLink="/plants">Back to list</button>
            </form>

            <ng-template #loading>
                <p>Loading...</p>
            </ng-template>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </div>

        <div class="subsection3">

        </div>
    </section>

</body>