body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5vXz13cy_i_gfXY7YJ0QV26p-oE2UM5XjnA&usqp=CAU");
    color: #333;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

button.emphasis {
    background-color: #f44336;
}

button.rounded {
    border-radius: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: bisque;
}

section {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Three equal columns */
    gap: 20px;
    /* Adjust the gap between columns */
}

.subsection:nth-child(2) {
    background-color: yellow;
}