<!-- src/app/users/add/add-user.component.html -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<div class="wrapper">
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/greenhouses">Greenhouses</a></li>
            <li><a routerLink="/ecosystems">Ecosystems</a></li>
            <li><a routerLink="/plants">Plants</a></li>
            <li><a routerLink="/users">Users</a></li>
            <li><a routerLink="/joins">Joins</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>

    <!-- Add User Form -->
    <div class="content">
        <h2>Add User</h2>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" type="email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input id="username" type="text" formControlName="username">
            </div>
            <div class="form-group">
                <label for="dateJoined">Date Joined:</label>
                <input id="dateJoined" type="date" formControlName="dateJoined">
            </div>
            <!-- Include other fields as necessary -->

            <button type="submit" class="add-button m-2" [disabled]="!userForm.valid">Add User</button>
            <button type="submit" class="add-button m-2" routerLink="/users">Back to List</button>

        </form>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
</div>